git+https://github.com/m-bain/whisperX.git
torch>=2.0.0
torchaudio>=2.0.0
transformers>=4.48.0
datasets>=2.18.0
evaluate>=0.4.1
jiwer>=3.0.4
accelerate==1.1.1
soundfile>=0.12.1
librosa>=0.10.1
tensorboard>=2.16.0
jellyfish>=1.0.0
pyspellchecker>=0.8.1
